<%= form_for(@espace) do |f| %>
  <% if @espace.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@espace.errors.count, "error") %> prohibited this espace from being saved:</h2>

      <ul>
      <% @espace.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "submit submit btn btn-success"  %>
  </div>
<% end %>
