<%= simple_form_for [@espace] do |f| %>
  <%= f.error_notification %>
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-quote-left"></i></span>
    <%= f.input :name, label: false, placeholder: 'Name of your espace' %>
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
    <%= f.input :address, label: false, placeholder: 'Type your espace address'  %>
    <%= f.input :street_number, as: :hidden, name: "espace[street_number]", input_html: { id: "street_number"} %>
    <%= f.input :route, as: :hidden, name: "espace[route]", input_html: { id: "route"} %>
    <%= f.input :locality, as: :hidden, name: "espace[locality]", input_html: { id: "locality"} %>
    <%= f.input :country, as: :hidden, name: "espace[country]", input_html: { id: "country"} %>
  </div>
  <div class="form-group">
    <%= f.label  :description %><br>
    <%= f.input :description, label: false %>
  </div>
  <div class="form-group">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>
  <div class="form-group right ">
    <%= f.label  :category %><br>
    <% if I18n.locale.to_s == "fr"  %>
    <%= f.select(:category, options_for_select(Espace::FR_CATEGORY, "architecture")) %>
    <% else %>
    <%= f.select(:category, options_for_select(Espace::EN_CATEGORY, "architecture")) %>
    <% end %>
  </div>

  <br>
  <%= f.button :submit, class: 'btn-danger' %>
<% end %>
<% content_for(:after_js) do %>
  <!-- Include Google Maps JS API -->

    <script type="text/javascript">
    function initializeAutocomplete(id) {
      var element = document.getElementById(id);
      if (element) {
        var autocomplete = new google.maps.places.Autocomplete(element, { types: ['geocode'] });
        console.log(element)
        google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
      }
    }
    function onPlaceChanged() {
      var place = this.getPlace();
      console.log(place);  // Uncomment this line to view the full object returned by Google API.
      for (var i in place.address_components) {
        var component = place.address_components[i];
        for (var j in component.types) {  // Some types are ["country", "political"]
          var type_element = document.getElementById(component.types[j]);
          if (type_element) {
            type_element.value = component.long_name;
          }
        }
      }
    }
    google.maps.event.addDomListener(window, 'load', function() {
      console.log('doing something');
      initializeAutocomplete('espace_address');
    });
    $('#espace_address').on('keyup keypress', function(e) {
     var code = e.keyCode || e.which;
    if (code == 13) {
      e.preventDefault();
    return false;
    }
  })
  </script>
<% end %>
