<div class="container">
  <div class="row search visible-xs">
    <%= render "shared/search" %>
  </div>
  <div class="row text-center">
    <div class="result-message">
      <% if @address && @nb_results == 0 %>
        <h1 id="city-display"><%= t('.no_results') %></h1>
      <% elsif @address %>
        <h1 id="city-display"><%= t('.results', address: @address) %> </h1>
      <% else %>
      <% end %>
    </div>
  </div>
  <div class="row espaceslist">

        <%= render 'espaceslist' %>


  </div>
</div>


<% content_for(:after_js) do %>

  <%= javascript_tag do %>

    console.log('ca marche')
      var mapOptions = {
        disableDefaultUI: true
      }
       handler = Gmaps.build('Google');
      handler.buildMap({
        provider: { disableDefaultUI: true },
        internal: { id: 'map' }
        },
        function(){
          markers = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          <% if @nb_results == 1 %>
          handler.getMap().setZoom(14)
          <% end %>
        });

  <% end %>
<% end %>