<p id="notice"><%= notice %></p>
<div class="banner-cover">
  <%= image_tag("ateliershow.png", class: "banner-img") %>

</div>
<div class="header">
  <div class="container">
  <div class="row first">
    <div class="col-xs-12 col-md-2 col-md-offset-2">
      <%= image_tag "http://lorempixel.com/30/30/people", class: "img-avatar" %>
    </div>
    <div class="col-xs-12 col-md-2 header-content">
      Name: <%= @espace.name %>
    </div>
    <div class="col-xs-12 col-md-2 header-content">
      User: <%= @espace.user.first_name %> - <%= @espace.category %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-10">
      Description:<%= @espace.description %>
    </div>
  </div>
  </div>
</div>
<%= link_to(edit_espace_path(@espace)) %> |
<%= link_to 'Back', espaces_path %>

<div id="map" style="width: 100%; height: 300px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(14)
      });
    })
  <% end %>
<% end %>