<div class="form form-connect" ID="reset_password">
  <header>
    <h2><%= t('.forgot_your_password')%></h2>
  </header>
  <section>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit t('.send_me_reset_password_instructions', :default => "Send me reset password instructions"), class: 'submit btn btn-success'%>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </section>
</div>