<nav class="navbar navbar-default navbar-wagon" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">
          <%= image_tag "Artichautseul.jpg" %>
        </a>
        <% if user_signed_in? %>
          <div class="search-nav">
            <%= render "shared/search_nav" %>
          </div>
        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <div class="visible-xs-block">
          <li>
            <%= link_to(espaces_path) do %>
              <%= t('.search')%>
            <% end %>
          </li>
          <% if user_signed_in? %>
            <li>
              <% if current_user.espaces.size == 0 %>
                <%= link_to(new_espace_path) do %>
                  <%= t('.Create_espace')%>
                <% end %>
              <% else %>
                <%= link_to(espace_path(current_user.espaces.first)) do %>
                  <%= t('.my_espace')%>
                <% end %>
              <% end %>
            </li>
            <li>
                <%= link_to(edit_user_registration_path) do %>
                  <%= t('.settings')%>
                <% end %>
              </li>
            <li>
              <%= link_to(destroy_user_session_path, method: 'delete') do %>
                <%= t('.sign_out')%>
              <% end %>
            </li>
          <% else %>
            <li >
              <%= link_to(new_user_registration_path) do %>
                <%= t('.sign_up')%>
              <% end %>
            </li>
            <li >
              <%= link_to(new_user_session_path) do %>
                <%= t('.sign_in')%>
              <% end %>
            </li>
          <% end %>
        </div>
      </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <!-- <li>
            <%= link_to "#" do %>
              <i class="fa fa-envelope-o"></i> Messages
            <% end %>
          </li> -->
          <li class="dropdown">
            <%= link_to "#", {class: "dropdown-toggle", "data-toggle" => "dropdown", "role" => "button", "aria-expanded" => "false"} do %>
              <%= image_tag current_user.put_picture(:thumb), class: "img-avatar" %>

              <%= current_user.first_name %> <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to(edit_user_registration_path) do %>
                  <%= t('.settings')%>
                <% end %>
              </li>
              <li>
                <%= link_to(destroy_user_session_path, method: 'delete') do %>
                  <%= t('.sign_out')%>
                <% end %>
              </li>
            </ul>
          </li>
          <li>
            <% if current_user.espaces.size == 0 %>
              <%= link_to(new_espace_path, class: "btn") do %>
                <%= t('.Create_espace')%>
              <% end %>
            <% else %>
              <%= link_to(espace_path(current_user.espaces.first), class: "btn") do %>
                <%= t('.my_espace')%>
              <% end %>
            <% end %>
          </li>
          <% else %>
          <li class="hidden-xs">
            <%= link_to(new_user_registration_path) do %>
              <%= t('.sign_up')%>
            <% end %>
          </li>
          <li class="hidden-xs">
            <%= link_to(new_user_session_path) do %>
              <%= t('.sign_in')%>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>