 <div class="banner">

<div class="content">
  <h1>Artichot</h1>
  <h2><%= t('.moto')%></h2>
    <%= render "shared/search" %>
    <button type="submit" id="see-more" class="btn btn-default see-more"><%= t('.how')%></button>
    <div class="how-it-works hidden">
      <div class="image-schema">
        <%= image_tag("how_it_works.png",  class: "img-responsive")%>
      </div>
    </div>
  </div>
</div>
<div class="suggestions">
  <div class="row">
    <div class="col-xs-12" id="espaces-box">
        <% @espaces.each do |espace| %>
          <div class="col-xs-12 col-md-4 text-center" id="espace-<%= espace.id %>">
            <%= link_to(espace_path(id: espace.id, address: @address)) do %>
              <div id="img-espace-index" style="background-image: url(<%= image_path espace.picture.url(:medium) %>);">
                <h2 class="content-display"><%= espace.name %></h2>
                <p class="content-display"><%= espace.address.truncate(35) %></p>
                <div id="espace-category">
                  <%= espace.category %>
               </div>
              </div>
            <% end %>
            <div id="title-card">
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
<% content_for(:after_js) do %>
  <script>
    $('#see-more').on('click', function() {
      if ($('.how-it-works').is(":visible")){
        $('.how-it-works').addClass('hidden');
      }else{
      $('.how-it-works').removeClass('hidden');
    }
    });
  </script>
<%end%>