<!DOCTYPE html>
<html>
<head>
  <title>Artichot</title>
  <!-- Add these line for detecting device width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= "#{params[:controller].gsub(/\//, '_')}_#{params[:action]}" %>">
  <% if notice %>
    <div class="top-banner">
      <p id="notice"><%= notice %></p>
    </div>
  <% else %>
  <% end %>
  <%= render "shared/navbar" %>
  <%= yield %>
  <!-- Gmap and call JS -->


<%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyB8_qEDhAC5C_aP2YJGZvKsGWSJrUUqHMI" %>
  <%= javascript_include_tag "application" %>

  <%= yield(:after_js) %>
  <script type="text/javascript">
  $( ".top-banner" ).hover(
  function() {
    $( this ).hide("slow");
  }
);
  </script>
  <script type="text/javascript">
  function initializeAutocomplete(id) {
    var element = document.getElementById(id);
    if (element) {
      var autocomplete = new google.maps.places.Autocomplete(element, { types: ['geocode'] });
      console.log(element)
      google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
    }
  }
  function onPlaceChanged() {
    var place = this.getPlace();
      console.log(place);  // Uncomment this line to view the full object returned by Google API.
      for (var i in place.address_components) {
        var component = place.address_components[i];
        for (var j in component.types) {  // Some types are ["country", "political"]
          var type_element = document.getElementById(component.types[j]);
        if (type_element) {
          type_element.value = component.long_name;
        }
      }
    }
  }
  google.maps.event.addDomListener(window, 'load', function() {
    console.log('doing something');
    initializeAutocomplete('user_input_autocomplete_address');
    initializeAutocomplete('nav_user_input_autocomplete_address');
  });
  </script>
</body>
</html>
